
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/Login.css" rel="stylesheet">
}
<div class="container" id="body">
    <form class="form-signin" method="get" action="#">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" name="password" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <input id="signin" class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in">
    </form>
</div>

<!--<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>-->
<script src="~/Scripts/SHA256.js"></script>
<script src="~/Scripts/Login.js"></script>