@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="jumbotron">
    <h1>Booking</h1>
    <p class="lead">Here you are able to book a seat in one of our computer labs. We hope this will make your studies here at Jönköping University more pleasant. </p>

    <input type="button" class="btn btn-primary btn-lg" id="bookingButton" value="Book"/>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            
            <div class="col-md-5" style="padding:0px; margin-bottom: 20px;">
                <input type="date" id="date" style="border-radius: 10px; padding: 10px; border-color:dimgrey; border:solid 1px; font-size:16px;" />
           
                    <input type="button" id="dateButton" class="btn btn-lg btn-primary" value="Look for a desk" /></div>

            @*<div class="row">*@
            <div class="col-md-1" style="padding:0px;">
                <div class="box" style="background-color:green; height: 20px; width: 20px;"></div><p>Free</p>
            </div>
            <div class="col-md-1" style="padding:0px;">
                <div class="box" style="background-color:red; height: 20px; width: 20px;"></div><p>Booked</p>
            </div>
            <div class="col-md-1" style="padding:0px;">
                <div class="box" style="background-color:blue; height: 20px; width: 20px;"></div><p>Booked by you</p>
            </div>
            <div class="col-md-1" style="padding:0px;">
                <div class="box" style="background-color:violet; height: 20px; width: 20px;"></div><p>Booked by teacher</p>
            </div>
            <div class="col-md-1" style="padding:0px;">
                <div class="box" style="background-color:yellow; height: 20px; width: 20px;"></div><p>Booked by student</p>
            </div>

                    @*</div>*@
                </div>
            <div id="Desks">
                <div class="col-lg-12">
                    <div data-toggle="collapse" class="col-lg-12 panel panel-default" data-target="#2440" style="background-color: #428bca; border-color: #428bca; color:white;
-webkit-box-shadow: 4px 2px 18px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 2px 18px -2px rgba(0,0,0,0.75);
box-shadow: 4px 2px 18px -2px rgba(0,0,0,0.75); margin-top: 5%"><h2>Computerlab 2440</h2></div>
                    <div class="col-lg-12 collapse" id="2440"></div>
                </div>

                <div class="col-lg-12">
                    <div data-toggle="collapse" class="col-lg-12 panel panel-default" data-target="#1330" style="background-color: #428bca; border-color: #428bca; color:white;
-webkit-box-shadow: 4px 2px 18px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 2px 18px -2px rgba(0,0,0,0.75);
box-shadow: 4px 2px 18px -2px rgba(0,0,0,0.75); margin-top: 2%;"><h2>Computerlab 1330</h2></div>
                    <div class="col-lg-12 collapse" id="1330">
                    </div>
                </div>
            </div>
        </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js" type="text/javascript"></script>
<script src="~/Scripts/moment-with-locales.min.js" type="text/javascript"></script>
<script src="~/Scripts/moment-timezone-with-data-2012-2022.min.js"></script>
<script src="~/Scripts/Service/BookingService.js" type="text/javascript"></script>
<script src="~/Scripts/Common.js" type="text/javascript"></script>
<script src="~/Scripts/Booking.js" type="text/javascript"></script>
